<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">　　　　
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{ page.title }}</title>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ site.baseurl }}/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/blog.css" rel="stylesheet"/>
    <!--代码高亮-->
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">    　　
</head>