<!DOCTYPE html>　　
<html>　　
<head> 　　　　
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title> 　　

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/blog.css" rel="stylesheet"/>
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ site.baseurl }}/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <!--代码高亮-->
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">

</head>
　　
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                {% unless page.title_hidden %}
                <h1>{{ page.title }}</h1>
                <info datetime="{{ page.date | date: '%Y-%m-%d'  }}">
                    {{ page.date | date: "%b %d, %Y" }}
                </info>
                {% endunless %}
                {{ content }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>
　　
</html>